@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes slowPan {
  0%   { background-position: 0% 0%; }
  50%  { background-position: 100% 100%; }
  100% { background-position: 0% 0%; }
}

.animate-slow-pan {
  animation: slowPan 20s ease-in-out infinite;
  background-size: 150%;
}
